<nav class="navbar navbar-default" role="navigation">
        <div class="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target=".navbar-collapse.collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand">
                      <a href="/"><h1><span>Awiten</span>Fests</h1></a>
                    </div>
                </div>
                <div class="navbar-collapse collapse">
                    <div class="menu">
                        <ul class="nav nav-tabs" role="tablist">
                          <li><a href="#" (click)="onSelect('festivals')">FESTIVALS</a></li>
                          <li><a href="#" (click)="onSelect('artists')">ARTISTS</a></li>
                          <li><a href="#">ADMINISTRADOR</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
