<div class="container">
  <div class="table-bordered table-responsive" style="color: black">
    <table class="table table-striped" [mfData]="photos" #mf="mfDataTable" [mfRowsOnPage]="5">
        <thead>
        <tr>
            <th style="width: 20%">
                <mfDefaultSorter by="id">ID</mfDefaultSorter>
            </th>
            <th style="width: 20%">
                <mfDefaultSorter by="name">Nombre</mfDefaultSorter>
            </th>
            <th style="width: 20%">
                <mfDefaultSorter by="url">URL</mfDefaultSorter>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let photo of mf.data">
            <td>{{photo.id}}</td>
            <td>{{photo.name}}</td>
            <td>{{photo.url}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
            </td>
        </tr>
        </tfoot>
    </table>
  <div class="table-bordered table-responsive">
</div>
