<div class="col-md-9">
  <h1 class="page-header" style="color: black">Festivales</h1>
  <button
    type="button"
    name="button"
    class="btn btn-success"
    style="margin-bottom: 10px"
    (click)="onNewFestival()">Añadir Festival<span></span></button>
  <div class="table-bordered table-responsive" style="color: black">
    <table class="table table-hover" [mfData]="festivals" #mf="mfDataTable" [mfRowsOnPage]="5">
        <thead>
        <tr>
            <th style="width: 5%">
                <mfDefaultSorter by="nombre">Id</mfDefaultSorter>
            </th>
            <th style="width: 15%">
                <mfDefaultSorter by="website">Nombre</mfDefaultSorter>
            </th>
            <th style="width: 15%">
                <mfDefaultSorter by="website">Fecha</mfDefaultSorter>
            </th>
            <th style="width: 20%">
                <mfDefaultSorter by="website">Localización</mfDefaultSorter>
            </th>
            <th style="width: 10%">
                <mfDefaultSorter by="website">Provincia</mfDefaultSorter>
            </th>
            <th style="width: 25%">
                <mfDefaultSorter by="website">URL del logo del festival</mfDefaultSorter>
            </th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let festival of mf.data">
          <td [routerLink]="[festival.id]" style="cursor: pointer;">{{festival.id}}</td>
          <td [routerLink]="[festival.id]" style="cursor: pointer;">{{festival.name}}</td>
          <td [routerLink]="[festival.id]" style="cursor: pointer;">{{festival.date}}</td>
          <td [routerLink]="[festival.id]" style="cursor: pointer;">{{festival.location}}</td>
          <td [routerLink]="[festival.id]" style="cursor: pointer;">{{festival.province}}</td>
          <td [routerLink]="[festival.id]" style="cursor: pointer;">{{festival.logoUrl}}</td>
          <td>
              <a (click)="onEditFestival(festival.id)" style="color: #1BBD36; cursor: pointer;">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              </a>
          </td>
          <td>
            <a (click)="onDeleteFestival(festival.id)" style="color: #9e0f0f; cursor: pointer;">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </a>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
            </td>
        </tr>
        </tfoot>
    </table>
  <div class="table-bordered table-responsive">
</div>
