<section id="main-slider" class="no-margin">
  <div class="carousel slide">
    <div class="carousel-inner">
      <div class="item active" id="fondo-welcome">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">

              <div class="carousel-content" style="padding: 10px;background: rgba(0, 140, 23, 0.5);">
                <h2 class="animation animated-item-1">
                  Bienvenido a <span>Awiten</span><span style="color: #000">Fests</span>
                </h2>
                <p class="text-danger animation animated-item-2" style="color: LawnGreen">
                  <strong>Descubre los mejores festivales de música electrónica</strong>
                </p>

              </div>
            </div>

          </div>
        </div>
      </div><!--/.item-->
    </div><!--/.carousel-inner-->
  </div><!--/.carousel-->
</section><!--/#main-slider-->
