<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li id="home" class="active">
                  <a routerLink="/admin">Inicio</a>
                </li>
                <ng-template [ngIf]="authService.isAuthenticated()">
                  <li>
                    <a routerLink="/admin">Usuarios</a>
                  </li>
                  <li>
                    <a routerLink="genres">Géneros musicales</a>
                  </li>
                </ng-template>
            </ul>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
