<div class="col-md-9" style="color: black">
  <h1 class="page-header">Editar</h1>
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Título</label>
      <input type="text" id="title" name="title" formControlName="title" class="form-control">
    </div>
    <div class="form-group">
      <label for="lead">Cabecera</label>
      <input type="text" id="lead" name="lead" formControlName="lead" class="form-control">
    </div>
    <div class="form-group">
      <label for="body">Cuerpo</label>
      <input type="text" id="body" name="body" formControlName="body" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Guardar Cambios</button>
    <button type="button" class="btn btn-danger">Cancelar</button>
  </form>
</div>
