<nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0">
  <div class="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target=".navbar-collapse.collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand">
          <a routerLink="welcome"><h1><span>Awiten</span>Fests</h1></a>
        </div>
      </div>
      <div class="navbar-collapse collapse">
        <div class="menu">
          <ul class="nav nav-tabs" role="tablist">
            <li><a routerLink="festivals" (click)="onGetFestivals()">festivales</a></li>
            <li><a routerLink="artists" (click)="onGetArtists()">artistas</a></li>
            <li><a routerLink="/admin/">admin</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
