
        <div class="carousel slide">
            <div class="carousel-inner">
                <div class="item active" style="background-image: url(../assets/images/festival-fondo2.jpg)">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content" style="padding: 10px;background: rgba(0, 140, 23, 0.5);">
                                    <h2 class="animation animated-item-1">
                                        Bienvenido <span style="color: #1BBD36">Awiten</span><span>Fests</span>
                                    </h2>
                                    <p class="text-danger animation animated-item-2" style="color: LawnGreen">
                                        <strong>Descubre</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
