<div class="row" style="color: #333333">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form (ngSubmit)="onSignup(f)" #f="ngForm">
      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="email" id="name" name="name" ngModel class="form-control">
      </div>
      <div class="form-group">
        <label for="username">Usuario</label>
        <input type="email" id="username" name="username" ngModel class="form-control">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" ngModel class="form-control">
      </div>
      <div class="form-group">
        <label for="role">role</label>
        <input type="email" id="role" name="role" ngModel class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" ngModel class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Registrarse</button>
    </form>
  </div>
</div>
